# node
node_modules/

# Environment Variables
.env 
.env.*
.env.example

#Playwright
test results/
playwright report/
blob-report/

#Allure
allure-results/
allure-report/


#VS Code
.vscode/

#OS Files
.OS_Store
Thumbs.db

#logs
*.log